body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;

  grid-template-columns: 3fr 7fr;
  grid-template-areas: "leftContent currentTrip";
  height: 100vh;

  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.leftContent {
  grid-area: leftContent;
  grid-gap: 1em;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "title" "tripInputs";
}

.title {
  grid-area: title;
  background: #deb887;
  font-size: 100px;
  padding: 10px;
}

.tripInputs {
  grid-area: tripInputs;
  background: #87adde;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.tripInput {
  margin: 10px;
  font-size: 20px;
}

.currentTrip {
  grid-area: currentTrip;
  background-image: url("../media/travel.jpg");
  padding: 10px;
}

#subTitle {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #app {
    grid-template-columns: 1fr;
    grid-template-areas: "leftContent" "currentTrip";
  }
  .leftContent {
    grid-area: leftContent;
    grid-gap: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "title" "tripInputs";
  }
  .currentTrip {
    grid-area: currentTrip;
    background-image: url("../media/travel.jpg");
    padding: 10px;
  }
}

.weatherCard {
  background-color: #deb887;
  font-size: 10px;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
}
